body {
	font-family: 'Fjalla One', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background: url(https://media.giphy.com/media/Eds5CigjFFqjm/giphy.gif);
    color: brown

}


  